@import "timeline";

body {
  margin-top: 50px;
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

// $navbar-default-bg: transparent;
// $navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-color: #fff;

.navbar-default {
  // background-color: $navbar-default-bg;
  // border-color: $navbar-default-border;
  .navbar-brand, .navbar-nav > li > a {
    // color: #fff;
    &:hover {
      color: #eee;
    }
  }
}

.full-width-image-1 {
  background: url(../images/main-1.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}

.full-width-image-2 {
  background: url(http://lorempixel.com/g/1920/450/) no-repeat center center;
  background-size: cover;
  text-align: center;
  height: 450px;
}

.logo-wrapper {
  display: inline-block;
  min-height: 200px;
  min-width: 200px;
  span {
    font-size: 4em;
    display: inline-block;
    text-align: center;
    color: #eee;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);
  }
  // .craig, .nicole {
  //   line-height: 200px;
  //   font-size: 6em;
  // }
  // .amp {
  //   line-height: 100px;
  //   margin-top: -3em;
  //   font-size: 3em;
  // }
}

// ul.affix-top {
//   position: static;
// }
// ul.affix-bottom {
//   position: absolute;
// }

.stuck {
  position: fixed;
  top: 60px;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-heading {
  text-align: center;
  font-size: 4em;
  margin: 30px 0;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

footer {
  margin: 50px 0;
}

@media (max-width: 768px) {

.section-heading {
  font-size: 2em;
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}

}