<div class="jumbotron">
  <h1>About</h1>
  <p class="lead">
    Craig &amp; Nicole
  </p>
</div>
<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <nav id="sidebar-nav" class="sidebar col-md-3">
      <ul class="nav sidenav">
        <ul class="nav">
        <li><a class="nav-item" href="#the-beginning">Meeting</a></li>
        <li><a class="nav-item" href="#meeting">First Date</a></li>
        <li><a class="nav-item" href="#moving-in">Big Steps</a></li>
        <li><a class="nav-item" href="#uneventful">Quiet Time</a></li>
        <li><a class="nav-item" href="#second-biggest-day">The 2<sup>nd</sup> Biggest Day</a></li>
        </ul>
      </ul>
    </nav>
    <ul class="timeline col-md-9">
        <li id="the-beginning">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">In the beginning...</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 2012</small></p>
            </div>
            <div class="timeline-body">
              <p>Craig joined a dating site to meet some people. Nicole joined the same site at the urging of her co-workers. Neither was looking for anything serious.</p>
              <p>After each had been on the site for a few months, Nicole sent Craig a message with some general pleasantries. After about a week of online bantering, they decided to meet up, even though Nicole was a die hard OSU fan and Craig a Notre Dame fan.</p>
            </div>
          </div>
        </li>
        <li id="meeting" class="timeline-inverted">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">The first date.</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 10<sup>th</sup>, 2012</small></p>
            </div>
            <div class="timeline-body">
              <div id="map"></div>
              <p>The plan was to meet up at the Hey Hey Bar for some drinks and sourkraut balls. Seeing that the place was shoulder to shoulder hipsters, they decided to try out Hal &amp; Al's.</p>
              <p>A few drinks later, it was time for a late night snack, so they made their way to Plank's. There they discovered the best pizza known to man.</p>
              <p>Craig's only regret was leaving the leftover pizza in Nicole's car.</p>
            </div>
          </div>
        </li>
        <li id="moving-in">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Then Craig Moved In</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> October 2012</small></p>
            </div>
            <div class="timeline-body">
              <p>Craig had no doubt it was the right thing to do. Nicole was hesitant about toilet seats being left up and double the laundry. Looks like Craig was right on this one.</p>
            </div>
          </div>
        </li>
        <li id="uneventful" class="timeline-inverted">
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Quiet Time</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> October 2012 &mdash; March 2014</small></p>
            </div>
            <div class="timeline-body">
              <p>Stuff happened during this period, but nothing really relevant to this story.</p>
            </div>
          </div>
        </li>
        <li id="second-biggest-day">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">The question.</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 8<sup>th</sup> 2014</small></p>
            </div>
            <div class="timeline-body">
              <p>It was the biggest day of their lives (to this point, at least). There's a big long mushy story that should go here when it goes to production.</p>
            </div>
          </div>
        </li>
    </ul>
</div>