<div class="full-width-image-1">
  <div class="logo-wrapper">
    <span>Craig &amp; Nicole are getting hitched!</span>
  </div>
</div>
<!-- <div id="countdown"></div> -->
<!-- /full-width-image-1 -->

<div class="container">
  <div class="row">
    <div class="col-lg-12 section">
      <h1 class="section-heading">Craig &amp; Nicole, sittin' in a tree...</h1>
      <p class="lead section-lead">He's a larger than average software engineer. She's an attractive graduate student. They're in love... gross.</p>
      
    </div>
  </div>
</div>